body >*{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

table td,table th{
    border: 1px solid #444;
    padding: 0.2rem;
}

img{
    max-width: 100%;
}

figure{
    text-align: center;
}

@media screen {
    body >*{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0;
    }
}

@media print{
    @page {
        size: landscape;
        margin: 0;
        bleed: 0;
    }

    #tdm{
        display: none;
    }

    body{
        font-size: 0.65rem;
        line-height: 1.2rem;
        width: 100vw;
        height: 100vh;
        display: grid;
        gap: 0px;
        grid-template-areas: 
        'p5 p4 p3 p2'
        'p6 p7 p8 p1'
        ;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 50%);
    }

    body >*{
        border: 1px solid black;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6{
        font-size: 0.8rem;
        margin: 0;
        padding-bottom: 0.2rem;
    }

    h2.desc{
        color: #333;
    }
    

    p{
        margin: 0;
        margin-bottom: 0.2rem;
    }

    ul{
        margin: 0;
        padding-left: 0.5rem;
    }

    li::marker{
        margin-left: 0.2rem;
    }



    #p5, #p4, #p3, #p2{
        transform: rotate(180deg) translateX(-0.1px);
    }

    #p1{
        grid-area: p1;
    }
    #p2{
        grid-area: p2;
    }
    #p3{
        grid-area: p3;
    }
    #p4{
        grid-area: p4;
    }
    #p5{
        grid-area: p5;
    }
    #p6{
        grid-area: p6;
    }
}